BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "pin13_sclk" SITE "9";
LOCATE COMP "pin14_miso" SITE "10";
LOCATE COMP "pin15_mosi" SITE "17";
LOCATE COMP "pin16_cs"   SITE "8";

LOCATE COMP "pin0" SITE "5";
LOCATE COMP "pin1" SITE "4";
LOCATE COMP "pin2" SITE "11";
LOCATE COMP "pin3" SITE "12";

LOCATE COMP "pin5" SITE "26";
LOCATE COMP "pin6_LED" SITE "23";

# LOCATE COMP "pin0" SITE "5";
# LOCATE COMP "pin1" SITE "4";
# LOCATE COMP "pin2" SITE "11";
# LOCATE COMP "pin3" SITE "12";
# LOCATE COMP "pin4" SITE "25";
# LOCATE COMP "pin6_LED" SITE "23";
# LOCATE COMP "pin7" SITE "21";
#
# LOCATE COMP "pin8"  SITE "21";
# LOCATE COMP "pin9"  SITE "20";
# LOCATE COMP "pin10" SITE "13";
# LOCATE COMP "pin11" SITE "14";
# LOCATE COMP "pin12" SITE "16";
#
#
# LOCATE COMP "pin17_scl" SITE "28";
# LOCATE COMP "pin18_sda" SITE "27";
